
.card-header {
    display: flex;
    align-items: center;
    padding: 1rem;
    font-size: 2rem;
    color: var(--logoColor);
}

.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    margin: 1rem;
}

.card {
    color: white;
    padding: 5rem 0 0;
    max-width: 35rem;
    border-radius: 0.5rem; 
    overflow: hidden;
    background-image: url('https://source.unsplash.com/random');
    background-size: cover;
    transition: transform 500ms ease;
}


.card:hover {
    transform: scale(1.05);
}

.card-content {
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    gap: 1rem;
    background: linear-gradient(
        hsl(0 0% 0% / 0),
        hsl(20 0% 0% / 0.3) 20%,
        hsl(0 0% 0% / 1)
    );
    transform: translateY(60%);
    transition: transform 500ms ease;
}

.card-content > *:not(.card-title) {
    opacity: 0;
    transition: opacity 500ms linear;
}

.card:hover .card-content {
    transform: translateY(0);
}

.card:hover .card-content > * {
    opacity: 1;
    transition-delay: 300ms;
}

.card-title {
    position: relative;
    margin-bottom: 0.5rem;
}

.card-title::after {
content: "";
position: absolute;
height: 4px;
left: -1.5rem;
bottom: -0.5rem;
width: 100%;
background: var(--logoColor);
transform: scaleX(0);
transform-origin: left;
transition: transform 500ms ease;
}

.card:hover .card-title::after {
    transform: scaleX(1);
}

.card-body {
    color: rgb(255, 255, 255 / 0.85);
}

.card-btn {
   cursor: pointer;
   display: inline;
   text-decoration: none;
   color: black;
   background-color: greenyellow;
   padding: 0.5rem 1rem;
   border-radius: 0.25rem;
   max-width: max-content;
}

.card-btn:hover,
.card-btn:focus{
    background-color: green;
}

@media (max-width: 768px) {
    .cards {
        grid-template-columns: repeat(1, 1fr); 
        justify-items: center;
    }

    .card {
        padding: 4rem 0 0;
    }

    .card-content {
         transform: translateY(0);
    }

    .card-content > *:not(.card-title) {
        opacity: 1;
    }

    .card-title {
    margin-bottom: 0rem;
}
}

@media (max-width: 450px) {
    .cards {
        grid-template-columns: repeat(1, 1fr); 
        justify-items: center;
    }

    .card {
        padding: 3rem 0 0;
    }

    .card-content {
         transform: translateY(0);
    }

    .card-content > *:not(.card-title) {
        opacity: 1;
    }

    .card-title {
    margin-bottom: 0rem;
}
}
