
/* General styles for the sections */
.wel-header, .rtw-header {
    display: flex;
    justify-content: center;
    padding: 1rem;
    font-size: 2rem;
    color: var(--logoColor);
}

.wel-header {
    padding: 3rem 1rem 0 1rem;
}

.rtw-header {
    padding: 1rem;
    font-weight: bold;
}

.wel-text-container, .rtw-text-container {
    display: flex;
    justify-content: center;
    margin-bottom: 0.5rem;
}

.wel-text, .rtw-text {
    display: flex;
    align-items: center;
    padding: 1rem;
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--bodyTextColor);
}
/* Container for the sections */
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.main-content {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    list-style: none;
    padding: 0;
    max-width: 1080px;
    justify-content: center;
}

.recipes-of-the-week {
    display: grid;
    grid-gap: 1rem;
    list-style: none;
    padding: 0;
}

@media(min-width: 450px){
    .main-content {
        max-width: 90%;
    }

    .recipes-of-the-week {
        grid-template-columns: repeat(2, 1fr);
    }

    .rtw-header {
        font-size: 2rem;
        grid-column: span 2;
    }

    .rtw-text {
        justify-content: right;
        text-align: right;
    }

    .main {
        max-width: 90%;
    }

}


@media (min-width: 768px) {
    .main-content {
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
    }

    .welcome {
        grid-column: span 2;
    }

    .recipes-of-the-week {
        grid-column: 2 / span 2;
        grid-row: 3;
    }

    .recipes-of-the-week article {
        justify-content: center;
        align-items: center;
    }

    .wel-header {
        font-size: 3rem;
        grid-column: span 3;
        justify-content: left;
    }

    .wel-text {
        font-size: 1.6rem;
    }

    .rtw-text {
        font-size: 1.4rem;
    }
}