@import '_variables.css';
@import 'styles.css';

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.profile-container {
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 100%;
    padding: 3rem 0;
}

.recipes-container{
    width: 90%;
}

.recipes-container ul{
    width: 100%;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr; /* Turn off the grid for screens smaller than 600px */
    list-style-type: none;
    padding: 1rem;
    margin: 1rem 0;
    gap: 1.5rem;
}

.recipes-container li {
    width: 100%;
}

.grid-item {
    height: 200px; /* Example height */
    background-size: cover;
    background-position: center;
    position: relative; /* Ensure button positions correctly */
    color: var(--bgColor); /* Text color for visibility */
    border-radius: 20px;
}

.grid-item h2, .grid-item p, .grid-item button {
    position: absolute;
    z-index: 1;
    margin: 0;
    padding: 10px;
    background: var(--shadowTheHedgehog); /* Semi-transparent background */
    border-radius: 5px;
}

.grid-item h2 {
    top: 10px;
    left: 10px;
}

.grid-item p {
    top: 40px;
    left: 10px;
}

.grid-item button {
    bottom: 10px;
    left: 10px;
    padding: 5px 10px; /* Button padding */
    background-color: var(--logoColor); /* Background color */
    color: var(--bgColor); /* Text color */
    border: none; /* Remove default border */
    cursor: pointer; /* Cursor change on hover */
}

.grid-item button:hover {
    background-color: var(--hoverColor); /* Change background color on hover */
}

.recipes-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

@media only screen and (min-width: 768px) {
    .grid-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    .main {
        max-width: 90%;
    }

    .grid-item {
        margin-bottom: 20px;
    }
}
