@import '_variables.css';
@import 'cards.css';


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

img {
  width: 100%;
  object-fit: cover;
}

.icon {
    width: 1.5rem;
    height: 1.5rem;
    fill: var(--bodyTextColor);
}


.icon:hover {
  fill: var(--logoColor);
}

.logo {
  display: flex;
  justify-content: center;
  font-family: var(--TitleFont);
  font-weight: 400;
  font-style: normal;
  color: var(--logoColor);
  text-decoration: none;
}

.logo h1 {
  font-size: 4rem;
}

body{
  line-height: 1.5;
  background-color: var(--bgColor);
}

h1 {
  font-family: var(--TitleFont);
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
  color: var(--logoColor);
}

h2, h3, h4, h5, h6 {
  font-family: var(--SubtitleFont);
  font-weight: 400;
  font-style: normal;
  color: var(--logoColor);
}

h2 {
  font-weight: bold;
}

p, a  {
  font-family: var(--BodyFont);
  font-weight: 400;
  font-style: normal;
  color: var(--bodyTextColor);
}

/* start of header */

header {
  padding-top: 1rem;
  display: flex;
  justify-content: center;
  text-decoration: none;
}

nav{
  display: flex;
  justify-content: space-between;
  border-top: 3px solid var(--logoColor);
  max-width: 90%; /* Adjust this value as needed */
  margin-left: auto; /* Align the nav to the right */
  margin-right: auto; /* Align the nav to the left */
}

nav ul{
  width: 50%;
  list-style: none;
  display: flex;
  align-items: center;
}

nav #navbar {
  justify-content: right;
}

nav #navbar li {
  padding: 0 1rem;
}

nav #navbar li:hover{
  padding-top: 0.5rem;
  transition: all 0.3s ease;
}

nav li{
  height: 50px;
  padding: 0 1rem;
}

nav li:hover{
  padding-top: 0.5rem;
  transition: all 0.3s ease;
}

nav a{
  height: 100%;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: var(--bodyTextColor);
  transition: all 0.3s ease;
}

nav a:hover{
  color: var(--logoColor);
  font-size: 1.1rem;
}

#search-container {
    display: flex;
    align-items: center;
}

#search-container input[type="text"] {
    margin-right: 10px; 
}

input {
  width: 100%;
  padding: 0.4rem;
  border: var(--bgColor);
  border-radius: 4px;
  line-height: 1;
}

#searchButton {
  cursor: pointer;
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  text-align: inherit;
  font: inherit;
  border-radius: 0;
  appearance: none;
  padding-top: 0.2rem;
}

#searchButton:hover {
  padding-top: 0.2rem;
}

.sidebar{
  position: fixed;
  top: 0; 
  left: 0;
  height: 100vh;
  width: 250px;
  background-color: var(--footerColor);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  list-style: none;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 1000;
}

.sidebar li{
  width: 100%;
}

.sidebar a{
  width: 100%;
}

.menu-button{
  display: none;
}

/* end of header */

/* start of footer */

footer{
	background-color: var(--footerColor);
  /* position: fixed; */
  padding: 3rem 1rem;
  bottom: 0;
  width: 100%;
}

.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
  justify-content: center;
}

.footer-col{
   width: 25%;
   padding: 0 15px;
}

.footer-col h4{
	font-size: 18px;
	color: var(--bodyTextColor);
	text-transform: capitalize;
	margin-bottom: 1rem;
  font-weight: bold;
	position: relative;
  border-bottom: 0.2rem solid var(--logoColor);
  width: 45%;
}


.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: var(--bodyTextColor);
	text-decoration: none;
	font-weight: 300;
	display: block;
	transition: all 0.3s ease;
}

.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}

.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: var(--bgColor);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: var(--bodyTextColor);
	transition: all 0.5s ease;
}

.footer-col .social-links a:hover{
	background-color: var(--logoColor);
  color: var(--footerColor);
}


/* end of footer */

@media(max-width: 768px){
  .hideOnMobile{
    display: none;
  }
  
  .menu-button{
    display: block;
    margin-left: -1.5rem;
  }

  .logo {
    font-size: 1.3rem;
  }

  #search-container {
    display: flex;
    align-items: center; 
    margin-left: 2.5rem;
}

#search-container input[type="text"] {
    margin-right: 0.5; 
}

  footer {
    position: relative;
  }

  .footer-col{
    width: 50%;
}

  .footer-col h4 {
    margin-top: 2rem;
    margin-bottom: 1rem;
    width: 30%;
    text-align: center;
  }

  .logo h1 {
    font-size: 3rem;
    padding: 1rem 0;
  }
}

@media(max-width: 450px){
  .sidebar{
    width: 50%;
  }

  footer {
    position: relative;
  }

  .footer-col{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  .footer-col ul li {
    text-align: center;
  }

  .logo h1 {
    font-size: 2rem;
    padding: 2rem 0;
  }
}
